@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    color: rgba(245, 245, 245, 0.825);
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: rgb(10, 10, 10);
}

.shadow {
    box-shadow: 0px 4px 45px -9px rgb(33, 37, 42);
}

#header{
    height: 10%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

input{
    border: none;
    color: rgba(245, 245, 245, 0.825);
    outline: none;
    background: rgb(67, 76, 85);
    font-family: inherit;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.15s;
}

input:hover{
    opacity: 50%;
}
input:focus{
    opacity: 100%;
}


input::placeholder{
    color: rgba(245, 245, 245, 0.338);
}

#header>p{
    font-size: 20px;
    color: rgba(245, 245, 245, 0.825);
    background: rgb(67, 76, 85);
    padding: 10px;
    border-radius: 50%;
    transition: 0.15s;
}
#header>p:hover{
    opacity: 50%;
}

#content{
    height: 90%;
    padding: 5vh 5vw;
}

#container{
    background: rgb(67, 76, 85);
    border-radius: 25px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 30px;
}

#today{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    /* grid-template: repeat(2,1fr)/ repeat(2,1fr) */
}
#title{
    font-size: clamp(4.375rem, 3.036rem + 3.571vw, 6.25rem);
    font-weight: 600;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 30px;
}

#address{
    opacity: 50%;
    margin-bottom: 20px;
}
#place{
    flex: 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(33, 37, 42);
    padding: 20px 30px;
    border-radius: 25px;
}

.temp{
    grid-row: span 2;
    display: flex;
    justify-content: flex-end;
}
.temp>div{
    background: rgb(33, 37, 42);
    display: grid;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 20px;
    border-radius: 25px;
   
}

.temp>div>p{
    text-align: center;
    font-size: clamp(5rem, 4.286rem + 1.905vw, 6rem);
    font-weight: 600;
}

.temp>div>div{

    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

#forecast{
    /* overflow-x: auto; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#forecast>div{
    display: grid;
    align-items: center
}

#forecast>div>p{
    align-self: center ;
    justify-self: center;
}


.forecastDiv{
    flex: 3;
    background: rgb(33, 37, 42);
    /* height:  100%; */
    width: 12.5vw;
    aspect-ratio: 1/1;
    padding: 20px;
    border-radius: 25px;  
    box-shadow: 0px 4px 45px  -28px rgb(33, 37, 42); 
    display: flex; 
    justify-content: center;
    align-items: center;
}



.forecastDiv>p{
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
}

dialog{
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgb(33, 37, 42);
    border: none;
    border-radius: 15px;
}

dialog::backdrop{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
}
